.form__input {
  width: 358px;
  margin: 29.74px 0 48px 0;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom: 1px solid #000000;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
}

@media (max-width: 555px) {
  .form__input {
    max-width: 238px;
    margin: 30px auto 46px;
  }
}
